.experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem;
    justify-content: center;
}

.experience_container > div {
    background: var(--color-black);
    padding: 2.4rem 4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience_container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem;
 height: auto;
 /* background-color: brown; */
}

.experience_details {
    display:flex;
    gap: 1rem;
    height: 500%;
    width: 100%;
}

.experience_detail-icon {
    margin-top: 6%;
    color: var(--color-primary);
}

.experience_backend{
    width: 40pc;
    height: 400px;
    /* background-color: yellow !important; */
    overflow: hidden;
}
 
.item-image{
  width: 50px;
  height: 50px;
  display: none;
  
}

.myExpSwiper{
  /* background-color: red; */
  height: 300px;
}

/* Target the pagination container */
.myExpSwiper .swiper-pagination {
  color: white; 
  padding: 8px;
  border-radius: 8px;
}

/* Style the pagination bullets (dots) */
.myExpSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white; 
  margin: 0 5px; 
  border-radius: 50%; 
}

/* Style the active (current) bullet */
.myExpSwiper .swiper-pagination-bullet-deactive {
  background-color: black; /* Change the active bullet color */
}
  
  .myExpSwiper .swiper-button-prev,
  .myExpSwiper .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    
  }
  
  .myExpSwiper .swiper-button-prev {
    left: -18;
  }
  
  .myExpSwiper .swiper-button-next {
    right: -18;
  }

        
  /* .swiper-pagination {
    background-color: greenyellow;
    
  } */
  .mySwiper .swiper-pagination {
    display: flex;
    justify-content: center;
   top: 90%;
  
  }
  
  
  .mySwiper .swiper-pagination-bullet-active {
    background-color:  var(--color-primary);
  }
  
  
  
  
    


/* MEDIA QUERIES (MEDIDUM DEVICES) */
@media  screen and (max-width: 1024px) {
   .experience_container {
    grid-template-columns: 1fr;
    width: var(--container-width-md);
    padding: 20px;
    height: auto;
  }

   .experience_container > div {
        width: 700px;
        padding: 2rem;
        margin: 0 auto;
   }
   .item-image{
    display: block;
  }
  
}


/* MEDIA QUERIES (SMALL DEVICES)*/
@media screen and  (max-width: 600px) {

  .container{
      width: var(--container-width-sm);
      padding: 20px;
      height: auto;
  }

    .experience_container {
        width: var(--container-width-sm);
        padding: 20px;
        height: auto;
        grid-template-columns: 1fr ;
    }

    .experience_container > div {
        width: 350px;
        max-width: 600px;  
        padding: 10px;
        height: auto;
        grid-template-columns: 1fr 1fr;
    }

    .experience_content {
   width: var(--container-width-sm);
        padding: 20px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: scroll;
        border-radius: 20px;
  }
  .experience_details {
    display:flex;
    gap: 1rem;
    height: auto;
    width:auto;
}

.item-image{
  display: block;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
}



