.portfolio_container {
    /* display: grid;
    gap: 2rem; 
    width: 30px;
padding-bottom: 4rem; */
height: 600px; /* Set the height of the container */
  width: 25%; /* Set the width of the container */
  margin: 0 auto; /* Center the container horizontally */
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */

}

.portfolio_item {
    background: var(--color-black);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 50%;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);   
  }

 /* MEDIA QUERIES (MEDIDUM DEVICES) */
 @media  screen and (max-width: 1024px) {
   .portfolio_container {
       grid-template-columns: 1fr 1fr;
       gap: 1.2rem;
   }
}

/* MEDIA QUERIES (SMALL DEVICES)*/
@media screen and  (max-width: 600px) {
   .portfolio_container {
       grid-template-columns: 1fr;
       gap: 1rem;
   }
}